/* @import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic); */

@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local('Arvo'), url(fonts/WJ6D195CfbTRlIs49IbkFw.woff) format('woff');
}
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 700;
  src: local('Arvo Bold'), local('Arvo-Bold'), url(fonts/0Aa8aBJcGN1n1zDNhqNrnQ.woff) format('woff');
}
@font-face {
  font-family: 'Arvo';
  font-style: italic;
  font-weight: 400;
  src: local('Arvo Italic'), local('Arvo-Italic'), url(fonts/7solcx-ZQo6LBqJvZuxkkg.woff) format('woff');
}


/* MeyerWeb Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

html {
	background: #252525 url("/images/line-tile.png?1420306322") repeat scroll left top;
}

/* Base text styles */

body {
	/*padding:10px 50px 0 0;*/
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #232323    line-height: 1.5em;
    color: rgb(34, 34, 34);    line-height: 1.5em;
    color: rgb(34, 34, 34);;
	/*background-color: #FBFAF7;*/
	margin: 0;
	line-height: 1.8em;
	-webkit-font-smoothing: antialiased;

    color: rgb(34, 34, 34);	
}

h1, h2, h3, h4, h5, h6 {
  color:#232323;
  margin:36px 0 10px;
}

p, ul, ol, table, dl {
  margin:0 0 22px;
}

h1, h2, h3 {
	font-family: 'Arvo', Monaco, serif;
  line-height:1.3;
	font-weight: normal;
}

h1,h2, h3 {
	display: block;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;	
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

h4, h5, h6 {
	font-family: 'Arvo', Monaco, serif;
	font-weight: 700;
}

a {
  color:#C30000;
  font-weight:200;
  text-decoration:none;
}

a:hover {
	text-decoration: underline;
}

a small {
	font-size: 12px;
}

em {
	font-style: italic;
}

strong {
  font-weight:700;
}

ul li {
  list-style: inside;
  padding-left: 25px;
}

ol li {
  list-style: decimal inside;
  padding-left: 20px;
}

blockquote {
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

dl, dt, dd, dl p {
	font-color: #444;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

hr {
  border:0;
  background:#ccc;
  height:1px;
  margin:0 0 24px;
}

/* Images */

img {
  position: relative;
  margin: 0 auto;
  max-width: 650px;
/*   padding: 5px; */
/*   margin: 10px 0 32px 0; */
  border: 0px solid #ccc;
}


/* Code blocks */

code, pre {
	font-family: Monospace, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
	font-size:14px;
}

pre {
	background: #FDFEFB;
	border-radius:4px;
	border:1px solid #D7D8C8;
	line-height: 20px;
	margin-bottom: 10px;
	overflow-y: hidden;
	overflow: auto;
	padding: 4px 12px;
}


/* Tables */

table {
  width:100%;
}

table {
	font-size: 80%;
	border: 1px solid #ccc;
	margin-bottom: 32px;
	text-align: left;
}

th {
	font-family: 'Arvo', Helvetica, Arial, sans-serif;
	font-size: 120%;
	font-weight: normal;
	padding: 6px;
	background: #232323;
	color: #FDFEFB;
	text-align: center;
}


td {
	padding: 0px 6px 0px 6px;
	background: #ccc;
}


/* Wrapper */
.wrapper {
	width:1000px;
	margin-left: 10px;
	background-color: #FBFAF7;
	/*text-align: center;*/
}


/* Header */

header div {
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-font-smoothing: antialiased;
	background: url("/images/noise.png?1420306322") repeat scroll 0% 0%, transparent linear-gradient(#A3A3A3, #616161, #252525) repeat scroll 0% 0%;
	height: 30px;
}

header div.container {
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 10px;
	padding-top: 10px;
}

header a {
	font-family: "PT Sans","Helvetica Neue",Arial,sans-serif;
	font-size: 20px;
	color: #C2C1BF;
	text-shadow: 0px 1px #A3A3A3;
}

header div.container div.nav {
	position: relative;
	float: left;
}

header div.container div.follow-me {
	position: relative;
	float: right;
}

a.header {
	text-decoration: underline;
}

a.name {
	white-space: nowrap;
}

header ul {
	list-style:none;
	padding:0;
	margin: 0;
	list-style-type: none;
}

header li {
	display: inline;
	padding-left: 25px;
}


/* Section - for main page content */

section {
	padding-bottom:50px;
	padding-left: 50px;
	padding-right: 50px;
}


/* Footer */

footer {
	bottom:0px;
	font-size: 90%;
	line-height: normal;
	text-align: center;
}

@media print, screen and (max-width: 960px) {
  
  div.wrapper {
    width:auto;
    margin:0;
  }
  
  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

	footer {
		border-top: 1px solid #ccc;
		margin:0 84px 0 50px;
		padding:0;
	}
  
  header {
    padding-right:320px;
  }
  
  section {
    padding:20px 84px 20px 50px;
    margin:0 0 20px;
  }
  
  header a small {
    display:inline;
  }
  
  header ul {
    position:absolute;
    right:130px;
    top:84px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }
  
  header {
    padding:10px 20px 0;
		margin-right: 0;
  }

	section {
    padding:10px 0 10px 20px;
    margin:0 0 30px;
  }

	footer {		
		margin: 0 0 0 30px;
	}
  
  header ul, header p.view {
    position:static;
  }
}

@media print, screen and (max-width: 480px) {
  
  header ul li.download {
    display:none;
  }

	footer {		
		margin: 0 0 0 20px;
	}
	
	footer a{
		display:block;
	}

}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}

/* my custom styles */

.gist div {
	font-size: 14px;
}

.wrapper ul {
	font-size: 12px;
}

.wrapper .tag-section ul {
	font-size: 16px;
}

.wrapper .post-section ul {
	font-size: 16px;
}

.created-with-vim {
	border: 0px;
        margin: 3px;
        padding: 0;
}

.post-section .read-more {
	font-size: 12px;
	text-align: right;
}

a.linkedin {
	background: url(../images/linkedin-logo.png) no-repeat 1px;
	/*background: url(../images/octocat-small.png) no-repeat 1px\9;*/
	background-size: 14px auto;
}

a.launchpad {
	background: url(../images/lp-logo.png) no-repeat 1px;
	background-size: 14px auto;
}

.wrapper .project-list ul li {
  list-style: none;
  padding-left: 0;
  display: inline;
  margin-right: 12px;
}

.wrapper .project-list img {
  border: 0;
}

.wrapper .container .subscription a {
  padding: 0;
}

.wrapper .container .subscription img {
  border: 0;
  height: 24px;
  width: 24px
}

.tag-section .posts-count {
	background: none repeat scroll 0 0 #AF0011;
	color: #EEEEEE;
	font-size: 16px;
	padding: 0 3px;
	vertical-align: top;
}

.share-section p {
	display: inline;
}

.share-section ul {
	display: inline;
	margin: 0 0 0 2;
	padding: 0;
}

.share-section ul li {
	list-style: none;
	display: inline;
	padding: 0;
	margin: 0;
}

.post-section .post-footer {
	font-size: 14px;
	border-top: 1px solid #ccc;
	padding-bottom: 18px;
}

.post-section .post-footer p {
	margin: 0 0 0 0;
}

.project-list p {
	margin: 0 0 0 0;
	line-height: normal;
}

.project-list h1 {
	font-size: 160%;
}

.project-list h2 {
	font-size: 120%;
}
